.attribution{
    font-size: 11px;
    text-align: center;
    color: hsl(228, 45%, 44%);
    transform: translateY(150px);
    margin-top: 3%;
}

body{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    font-family: 'Kumbh Sans', sans-serif;
    background-image: url("images/bg-pattern-top.svg"),url("images/bg-pattern-bottom.svg");
    background-color: hsl(185, 75%, 39%);
    background-repeat: no-repeat,no-repeat;
    background-position: -300px -500px , 600px 300px;
    
    
    
    
}

h1{
    font-size: 18px;
    
}

p{
    color: hsl(0, 0%, 59%);
    font-size: 18px;
}

.bg-mainImg{
    width: 400px;
    border-top-left-radius: 15px;
    border-top-right-radius:15px;

}



/* section-body */

.contanier{
   width: 400px;
   
   text-align: center;
   transform: translateY(150px);
  
   
}

.img-victor{
    border-radius: 100%;
    border:5px solid white;
    transform: translateY(-60px);
    width: 120px;

}



.box-text{
    background-color: white;
    height: 200px;
}

.box-text-nameAge{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    word-spacing: 3px;
    transform: translateY(-30px);
    
}

.text-number{
    margin-left: 5px;
    color: hsl(0, 0%, 59%) ;
    font-weight: 400px;
}

.box-text p{
    transform: translateY(-20px);
    margin-bottom: 0;
}


.line{
    margin: 0 auto;
}


/* section-footer */

.box-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3%; 
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
}

.box-footer p {
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 400;
}

.box-followers{
    margin: auto;
}

.box-likes{
    margin: auto;
}

.box-photos{
    margin: auto;
}





@media (max-width : 600px){
  body{
      height: auto;
      width: 100%;
      background-position: -600px -500px , 300px 300px;
  }
 
}

@media (min-width:600px){
    
    
}



















/* card-section */

/* .card-box-all{
    margin: auto;
    width: 400px;
    text-align: center;
    transform: translateY(150px);
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
  
     
} */

/* .card-box{
  padding: 0; 
  justify-content: center;
  text-align: center;
  margin: auto;
  width: 400px;
  background-color: white;
 
}  */




/* 
 .img-bg-header{
   border-top-left-radius: 5%;
   border-top-right-radius: 5%;
  
   
   
   
}  */


/* section-body */


/* .box-name-age{
    padding: 7%;
    margin-top: auto;
    height: 150px;
} */

/* 
.img-victor{
    border-radius: 100%;
    border:  5px solid rgb(255, 252, 252);
    display: block;
    width: 120px;
    margin: auto;
    transform: translateY(-100px);
}





.text-name{
    display: inline-block;
    font-weight: 700;
    transform: translateY(-75px);
   
    
}

.text-age{
    display: inline-block;
    color: hsl(0, 0%, 59%) ;
    transform: translateY(-75px);
    letter-spacing: 1px;
    margin-left: 5px;
   
}
.text-london{
    
    font-weight: 400;
    transform: translateY(-70px);
}

/* 
section-footer */


/* .text-footer-number{
    font-weight: 700;
    font-size: 18px;
}

.text-footer{
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
}


.box-footer{
    padding: 5%;
}
 */ 

